<mat-toolbar>

</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student ID">
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="name">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="Profile">
  </mat-form-field>
  <mat-form-field hintLabel="email as user name" class="full-width">
      <textarea matInput placeholder="Email"></textarea>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="password">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="confirm password">
            </mat-form-field>
          </td>
        </tr>
      </table>
  <div class="center">
      <button mat-raised-button color="primary" type="submit" [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="confirm()">Sign up</button>
      <button mat-raised-button color="primary" type="submit" [routerLink]="['/login']" routerLinkActive="router-link-active">Log in</button>



  </div>
</form>