<div class="col-md-offset-1 col-md-4 center">
  <form class="form-horizontal ">

    <div class="form-group">
      <div class="col-sm-10">
        User Name:<input type="text" class="form-control" id="studentId" placeholder="User Name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        Password:<input type="password" class="form-control" id="studentId" placeholder="Password">
      </div>
    </div>

    <div class="col-sm-3 center1">
      <button mat-raised-button color="primary" type="submit" [routerLink]="['/activity']"
         routerLinkActive="router-link-active">Log in
      </button>
    </div>


  </form>
</div>