<mat-sidenav-container class="sidenav-container">
<mat-sidenav-content>
        <mat-sidenav #sidenav>
                <mat-nav-list>
            
                  <a mat-list-item [routerLink]="['/administrator']" routerLinkActive="router-link-active">Administrator</a>
                  <a mat-list-item [routerLink]="['/student']" routerLinkActive="router-link-active">Student</a>
                  <a mat-list-item [routerLink]="['/teacher']" routerLinkActive="router-link-active">Teacher</a>
                  <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
            
                </mat-nav-list>
              </mat-sidenav>
         
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>LTAS</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="['/administrator']" routerLinkActive="router-link-active">Administrator</a>
            <a mat-button [routerLink]="['/student']" routerLinkActive="router-link-active">Student</a>
            <a mat-button [routerLink]="['/teacher']" routerLinkActive="router-link-active">Teacher</a>
        </div>
    </mat-toolbar-row> 
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer">
        <a>Learning Through Activity Management System</a>
        <br>
        <a>Powered By: <a href="https://giphy.com/gifs/checkmatedigital-code-coding-monkey-QNFhOolVeCzPQ2Mx85?utm_source=media-link&utm_medium=landing&utm_campaign=Media%20Links&utm_term=">SE331</a></a>
      </footer>
</mat-sidenav-content>

</mat-sidenav-container>


