<mat-toolbar>

</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student ID" value="602115517">
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname" value="Kang">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="name" value="Mya">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="Profile"
      value="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-9/70507211_449562805646151_1337190187314184192_o.jpg?_nc_cat=110&_nc_eui2=AeG68uKKtRrrOA4VL1LYSn2l9s-dtGOPQtaPI4QVRKhS3UeunQUU8AdVNKSNfHYQAH0HPvrKqgryq2ac-WuGSe7Bu-wA1yUfOBtxuLPIzF5Gkg&_nc_oc=AQn_QVMZGyZuXYK_s17n8w8X-r3yBJTfsSxsUFFtD2HGi2q_R1il_gMr42N-mIzrkRM&_nc_ht=scontent.fbkk12-4.fna&oh=6c08986a2ce74c7e29908d6bb8409960&oe=5E004FCD">
  </mat-form-field>
  <mat-form-field hintLabel="email as user name" class="full-width">
    <textarea matInput placeholder="Email" value="myaploy@gmail.com"></textarea>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="password" value="12345qwer">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" routerLinkActive="router-link-active"
      (click)="confirm()">Update</button>



  </div>
</form>