<mat-toolbar>
    <mat-toolbar-row>
      <span>Add New Activity</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em">
    <mat-form-field class="full-width">
      <input matInput placeholder="Activity Name">
    </mat-form-field>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Location of Activity">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Period of Registration">
          </mat-form-field>
        </td>
      </tr>
      <mat-form-field class="full-width">
          <textarea matInput placeholder="Date & Time"></textarea>
        </mat-form-field>
    </table>
    <mat-form-field hintLabel="" class="full-width">
      <input matInput placeholder="Teacher">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
    <div class="center">
        <button mat-raised-button color="primary" type="submit" (click)="showActivityList()">Add Activity</button>
    </div>
  </form>