<mat-toolbar>

</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput value="Basketball Competition" placeholder="Activity Name">
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput value="Main Gymnasium" placeholder="Location">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput value="4 set (15 mins per set) have a break in set 2nd 10mins" placeholder="Description">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="full-width">
    <input matInput value="22/8/2019 - 22/9/2019" placeholder="Period Of Regitration">
  </mat-form-field>



  <mat-form-field class="full-width">
    <input matInput value="24/9/2019 12.30 pm" placeholder="Time">
  </mat-form-field>

  <div class="center">
    <button mat-raised-button color="primary" type="submit"  routerLinkActive="router-link-active"
      (click)="confirm()">Update</button>
  </div>
</form>