<div class="mat-elevation-z8">
  <p class="center-text">Student List
      <button mat-button style="color:#913567;font-size: 5px" [routerLink]="['/adminList']">Back To Activity List &#9756;</button>
  </p>

  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let student">{{student.id}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td _ngcontent-vcj-c11 mat-cell *matCellDef="let student">
            <button mat-raised-button id="disable_{{student.id}}" (click)="confirm(student.id)">&#10004;</button>
            <button mat-raised-button color="warn" id="disable1_{{student.id}}" (click)="reject(student.id)">&#10008;</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td _ngcontent-vcj-c11 mat-cell *matCellDef="let student">{{student.username}}</td>
      </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let student">{{student.name}}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let student">{{student.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <img _ngcontent-vcj-c11 mat-cell *matCellDef="let student" [src]="student.image" [title]="student.name">
    </ng-container>

    <ng-container matColumnDef="DOB">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</th>
      <td mat-cell *matCellDef="let student">{{student.DOB}}</td>
    </ng-container>

    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>studentId</th>
      <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>


</div>