/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

img {
    max-width: 20rem;
    max-height: 20rem;
}

tr.mat-footer-row {
    font-weight: bold;
}

.penInput {
    min-width: 2rem;
    max-width: 2rem;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.mat-raised-button {
    min-width: 0.5rem;
    max-width: 0.5rem;
}

.center-button {
    text-align: center;
    padding-left: .5em;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

span{
    /*
        文字阴影：
        text-shadow: 水平位移 垂直位移  模糊程度  阴影颜色;
    */
    font: 700 50px "Comic Sans MS";
    color: white;
    text-shadow: 0 0 20px #bdabd1,
            10px -10px 30px #aa80c2,
            20px -20px 40px #704d91,
            -20px -60px 50px #5d2888,
            0px -80px 60px #3d0881,
            10px -40px 70px #451b0e;
}