<div class="mat-elevation-z8">
  <div class="hello">
    <span>Hello Mya!</span>
    <button mat-button color="primary" [routerLink]="['/UpdateStu']">UpdateInfo</button>
  </div>
  <br>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
    </ng-container>

    <ng-container matColumnDef="periodOfRegitration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Period Of Regitration</th>
      <td mat-cell *matCellDef="let activity">{{activity.periodOfRegitration}}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date&Time</th>
      <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
    </ng-container>

    <ng-container matColumnDef="teacher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
      <td _ngcontent-vcj-c11 mat-cell *matCellDef="let activity">{{activity.teacher}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Enroll </th>
      <td _ngcontent-vcj-c11 mat-cell *matCellDef="let activity">
        <button class="btn btn-outline-primary" (click)="confirm()">
          <div>Enroll</div>
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>