<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
            <td _ngcontent-vcj-c11 mat-cell *matCellDef="let activity">{{activity.teacher}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
        </ng-container>

        <ng-container matColumnDef="periodOfRegitration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Period Of Regitration</th>
            <td mat-cell *matCellDef="let activity">{{activity.periodOfRegitration}}</td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Detail</th>
            <td _ngcontent-vcj-c11 mat-cell *matCellDef="let activity">
                <button class="btn btn-outline-primary" type="submit" [routerLink]="['/detail']"
                     routerLinkActive="router-link-active">
                    <div>Detail</div>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Update</th>
            <td _ngcontent-vcj-c11 mat-cell *matCellDef="let activity">
                <button class="btn btn-outline-primary" type="submit" [routerLink]="['/update']"
                     routerLinkActive="router-link-active">
                    <div>Update</div>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
</div>