<div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let student">{{student.id}}</td>
          </ng-container>
      
          <!-- studentId Column -->
          <ng-container matColumnDef="studentId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>StudentId</th>
            <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
          </ng-container>
      
          <!-- name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let student">{{student.name}}</td>
          </ng-container>
      
          <!-- surname Column -->
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
            <td mat-cell *matCellDef="let student">{{student.surname}}</td>
          </ng-container>
      
          <!-- gpa Column -->
          <ng-container matColumnDef="gpa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
            <td mat-cell *matCellDef="let student">{{student.gpa}}</td>
          </ng-container>
      
          <!-- image Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
            <img _ngcontent-vcj-c11 mat-cell *matCellDef="let student" [src]="student.image" [title]="student.name">
      
          </ng-container>
      
          <!-- featured Column -->
          <ng-container matColumnDef="featured">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Featured</th>
            <td mat-cell *matCellDef="let student">{{student.featured}}</td>
          </ng-container>
      
          <!-- penAmount Column -->
          <ng-container matColumnDef="penAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PenAmount</th>
            <td _ngcontent-vcj-c11 mat-cell *matCellDef="let student">{{student.penAmount}}</td>
          </ng-container>
      
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>