<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
      <td mat-cell *matCellDef="let activity">{{activity.studentName}}</td>
    </ng-container>

    <ng-container matColumnDef="activityName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Name</th>
      <td mat-cell *matCellDef="let activity">{{activity.activityName}}</td>
    </ng-container>


    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td _ngcontent-vcj-c11 mat-cell *matCellDef="let activity">
        <button mat-raised-button id="disable_{{activity.id}}" (click)="confirm(activity.id)">Confirm</button>
        <button mat-raised-button color="warn" id="disable1_{{activity.id}}"
          (click)="reject(activity.id)">Reject</button>

      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>